<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homegym"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- 내부저장장치사용권한 -->
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <!-- 내부저장장치사용권한 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 외부저장장치사용권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <meta-data
            android:name="android.support.UI_OPTIONS"
            android:value="splitActionBarWhenNarrow" />

        <activity
            android:name="com.HomeGym.Activity.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HomeGym.Activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.PreviewActivity"
            android:label="@string/title_activity_preview"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.HomeGym.Activity.AchievementActivity"
            android:label="@string/title_activity_acheivement"
            android:parentActivityName="com.HomeGym.Activity.MainActivity" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.RestActivity"
            android:label="@string/title_activity_rest"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.UserInfoSettingActivity"
            android:label="@string/title_activity_user_info_setting"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.BTConnectActivity"
            android:label="@string/title_activity_btconnect"
            android:parentActivityName="com.HomeGym.Activity.MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.SquatActivity"
            android:label="@string/title_activity_squat" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.CrunchActivity"
            android:label="@string/title_activity_crunch" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.FinishActivity"
            android:label="@string/title_activity_finish"
            android:parentActivityName="com.HomeGym.Activity.MainActivity" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.TestActivity"
            android:label="@string/title_activity_test" >

            <!--
            <intent-filter>
                 
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            
            </intent-filter>
            -->
        </activity>
        <!--
        <activity
            android:name="com.HomeGym.Activity.AlarmAlert"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_alarm_alert"
            android:taskAffinity="com.HomeGym.Activity.AlarmAlert"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        -->

        <activity
            android:name="com.HomeGym.Activity.AlarmAlert"
            android:label="@string/title_activity_alarm_alert" >
        </activity>

        <service
            android:name="com.HomeGym.Controller.ScreenService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" >
                </action>
            </intent-filter>
        </service>

        <!--
        <service 
            android:name="com.HomeGym.Controller.ScreenService"
            android:enabled="true" />
        -->
        <receiver
            android:name="com.HomeGym.Controller.AlarmReceiver"
            android:process=":remote" />

        <!-- android:theme="@android:style/Theme.Translucent" -->
        <activity
            android:name="com.HomeGym.Activity.DialogActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_dialog"
            android:launchMode="singleTask"
            android:taskAffinity="com.HomeGym.Activity.DialogActivity.popup"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.LungeActivity"
            android:label="@string/title_activity_lunge" >
        </activity>
        <activity
            android:name="com.HomeGym.Activity.LegraiseActivity"
            android:label="@string/title_activity_legraise" >
        </activity>
    </application>

</manifest>